body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../images/3161300.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    /* linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),  */
}

#exist{
    margin-top: 10px;
    color: #f00;
    font-size: small;
}

/* for logo in login and register */
.logo-big{
    /* actual style for the logo */
    padding: 2vmax 10vmax;
    width: 30%;
    height: auto;
    margin-bottom: 0;
}

/* for the header part  */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    /* background: linear-gradient(180deg, black, #03e9f4); */
    background:black;
}

.header-inner{
    padding: 10px 10px 0;
}

.header-inner img{
    filter: brightness(0) invert(1);
    margin: 10px 0;
}

.navs{
    display: flex;
    align-items: flex-end;
}

.navs a{
    color: white;
    text-decoration: none;
    padding: 0 0 10px;
}

.navs .nav-item{
    padding: 20px 25px 10px;
    margin: 0 5px;
    transition: .5s;
}

.navs .nav-item:hover{
    /* background: #03e9f4; */
    background: linear-gradient(180deg, black, #03e9f4);
    color: black;
    transition: .5s;
} 

/* kani kay katung hr that's under header*/
.under-header{
    margin: 0;
}

/* the main content of the page */
.main{
    position: relative;
    min-height: 100vh;
    padding: 2% 5%;
}

.for-admin{
    padding: 20px;
    /* border: 1px solid whitesmoke; */
    height: fit-content;
    width: 100%;
    margin-bottom: 0;
}

.for-admin a{
    color: #fff;
    text-decoration: none;
}

.for-admin a span{
    border: 1px solid #fff;
    padding: 10px;
    /* margin: 0 10px; */
    border-radius: 2px;
    transition: .5s;
}

.for-admin a span:hover{
    background-color: white;
    color: black;
    transition: .5s;
}



/* the table part which will only be seen by the user */
/* temp kay for submission purposes only */
.table{
    margin: 10px auto;
}

.table th, .table td{
    padding: 20px;
}

.table th{
    background: #074173;
    color: white;
}
.table td{
    background: #B3C8CF;
    color: black;
}
.table td a {
    text-decoration: none;
    color: black;
    background-color: #378CE7;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    transition: .5s;
}

.table td a:hover{
    background-color: #5356FF;
    transition: .5s;
}

/* footer part pero wa lang contents */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background: black;
    padding: 30px 0 10px;
    text-align: center;
    color: aliceblue;
}

.footer .row{
    width: 100%;
    margin: 1% 0;
    padding: 0.6% 0;
    font-size: .8rem;
}

.footer .row img{
    filter: brightness(0) invert(1);
    padding: 30px 0;
}


.footer .row a{
    text-decoration:none;
    color:aliceblue;
    transition:0.5s;
    font-size:2em;
    margin:0% 1%;
}

.footer .row a:hover{
    color:#03e9f4;
}

.footer .row ul{
    width: auto;
}

.footer .row li{
    width: 100px;
    display:inline-block;
    margin-right:30px;
    font-size: 8px;
}