/* .main{
    border: 1px solid wheat;
} */
.main form {
    width: 90%;
    padding: 20px 50px;
    /* background: rgba(0, 0, 0, 0.7); */
    background: black;
    font-family: Arial, sans-serif;
    margin: 10px auto;
}

.main form h2{
    text-align: center;
}

.event-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100px; */
    /* border: 1px solid whitesmoke; */
}

.event-form .inline{
    height: 100%;
    padding: 50px;
    /* border: 1px solid blue; */
}

.event-form .inline:nth-child(1){
    width: 60%;
}

.event-form .inline:nth-child(2){
    width: 40%;
}

.for-event-pic{
    display: flex;
    flex-direction: row;
    position: relative;
}

.for-event-pic input[type="file"]{
    display: none;
}

.inline:nth-child(1) img{
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.inline:nth-child(1) .info-events{
    margin: 15px 0;
}

.info-events label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-events input,
.info-events select,
.info-events textarea{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

#ticket-field{
    display: none;
}

.info-events textarea{
    height: 150px;
}

.for-event-pic #btn-add-pic{
    text-align: center;
    display: block;
    width: 200px;
    height: fit-content;
    background: #fff;
    color: black;
    padding: 12px;
    margin: 0px auto;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 10;
    right: 10;
    transition: .5s;
    cursor: pointer;
}

.main button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
}

.info-events #btn-add-pic:hover,
.main button:hover{
    background: #03e9f4;
    color: white;
    transition: .5s;
}