.main{
    display: flex;
    flex-direction: column;
}

.content{
    /* border: 1px solid wheat; */
    display: flex;    
    flex-direction: row;
}

/* .content .ticket-nawng{
    border: 1px solid whitesmoke;
} */

.ticket-nawng:nth-child(1){
    position: relative;
    width: 75%;
    background: white;
    padding: 0 5px 0 0;
    border-right: 1px dashed black ;
}

.ticket-nawng:nth-child(1) img{
    /* width: 100%; */
    /* mask-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0%,rgba(255,255,255,0.99) 10%, rgba(255, 255, 255, 0.01) 80%); */
    width: 906px;
    height: 510px;
}

.ticket-nawng:nth-child(1) .event-name{
    width: 97.25%;
    position: absolute;
    bottom: 0;
    height: 100px;
    padding: 0 10px;
    background: rgba(0,0,0,0.8);
    align-content: center;
    font-size: 40px;
}

.ticket-nawng:nth-child(2){
    width: 25%;
    background: white;
    padding: 0 0 0 5px;
    /* border-left: 1px dashed black ; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
}

/* .ticket-nawng:nth-child(2) .details{
    border: 1px solid black;
} */

.details:nth-child(1),
.details:nth-child(2){
    align-content: center;
    height: 100%;
}

.details:nth-child(1) div{
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
}
.details:nth-child(1) div:nth-child(1){
    font-size: 60px;
    margin-top: 50px;
}
.details:nth-child(1) div:nth-child(2){
    font-size: 40px;
    letter-spacing: 10px;
}

.details:nth-child(1) div:nth-child(3){
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
}

.details:nth-child(2){
    height: 50%;
    display: flex;
    flex-direction: row;
}

.details:nth-child(2) img{
    height: 40px;
    width: 40px;
}

.details:nth-child(2) div{
    align-content: end;
    font-size: 20px;
}

.details:nth-child(3){
    align-content: end;
    height: 100%;
    text-align: center;
    letter-spacing: 10px;
}

.details:nth-child(3) img{
    width: 100%;
}

.content:nth-child(2){
    background: black;
    padding: 20px;
}

/* .content:nth-child(2) .more-details{
    border: 1px solid wheat;
} */

.more-details:nth-child(1){
    width: 75%;
}
.more-details:nth-child(1) p{
    padding: 0 30px;
    text-align: justify;
}

.more-details:nth-child(2){
    width: 25%;
    padding: 20px;
}

.more-details:nth-child(2) .naa,
.more-details:nth-child(2) .wala{
    display: inline-block;
    background: white;
    color: black;
    border: none;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
    transition: .5s;
}

.more-details:nth-child(2) .wala:hover{
    background: #08D9D6;
    transition: .5s;
}