.main{
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
}

.profile, .more-info{
    width: 100%;
    /* border: 1px solid white; */
}
.profile{
    width: max-content;
}

.more-info{
    padding: 50px 75px;
}

.more-info .content{
    background: black;
    width: auto;
    height: 100%;
    /* border: 1px solid white; */
}

.overview{
    /* border: 1px solid blue; */
    height: 100%;
    display: block;
}

.overview hr{
    margin: 20px 0;
}

#top-events, #upcoming-events{
    font-size: xx-large;
    font-weight: bolder;
}

.literal-overview{
    display: flex;
    flex-direction: row;
}

.list-top-events{
    /* border: 1px solid white; */
    padding: 20px;
}

.event-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid white; */
}

.list-top-events a{
    text-decoration: none;
}

.date-time,
.delete-update,
.count{
    width: 25%;
    padding: 10px 0 10px 10px;
    color: black;
}

.delete-update{
    padding: 10px 10px 10px 0;
}

.date-time div,
.delete-update div,
.count div{
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    justify-content: center;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.delete-update div{
    border-radius: 0 10px 10px 0;
}

.date-time div div:nth-child(1),
.count div div:nth-child(1){
    height: fit-content;
    font-size: xx-large;
}

.date-time div div:nth-child(1){
    font-size: 25px;
    font-weight: 900;
}

.date-time div div:nth-child(2),
.count div div:nth-child(2){
    font-size: small;
    height: fit-content;
}

.delete-update div a:nth-child(1){
    /* border:1px solid black; */
    border-radius: 0;
    /* border-bottom: 1px dashed black; */
    cursor: pointer;
    transition: .5s;
    height: 100%;
    align-content: center;
    border-radius: 0 10px 0 0;
    color: black;
}
.delete-update div a:nth-child(1):hover{
    background: #FF2E63;
    color: white;
    transition: .5s;
}

.delete-update div a:nth-child(2){
    /* border:1px solid black; */
    cursor: pointer;
    border-radius: 0;
    /* border-top: 1px dashed black; */
    transition: .5s;
    height: 100%;
    align-content: center;
    border-radius: 0 0 10px 0;
    color: black;
}

.delete-update div a:nth-child(2):hover{
    background: #08D9D6;
    color: white;
    transition: .5s;
}

.list-top-events .event-pic{
    position: relative;
    padding: 10px 0;
    width: 100%;
    color: white;
}

.event-pic a{
    color: white;
    text-decoration: none;
}

.event-pic img{
    width: 100%;
    align-self: center;
    height: 100px;
    object-fit: cover;
}

.list-top-events .event-pic .event-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 5px 0;
    /* border: 1px solid black; */
}

.event-name div{
    text-align: center;
    /* color: black; */
}

.event-name div:nth-child(1){
    font-size: x-large;
}

.event-name div:nth-child(2){
    font-size: small;
}


.most-event, .total-events{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.most-event span, .total-events span{
    padding: 5px;
}

.most-event span:nth-child(1), 
.total-events span:nth-child(1){
    font-size:x-large;
}
.most-event span:nth-child(2), .total-events span:nth-child(2){
    font-size: smaller;
}

.admin-events{
    /* border: 1px solid red; */
    /* height: 100px; */
    display: none;
}

.overview, .admin-events{
    margin: 0 5%;
    transition: .3s;
}

.inner-bar{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
}

.inner-bar div{
    width: 50%;
    text-align: center;
    padding: 15px;
    transition: 1s;
}

/* .inner-bar div:nth-child(1), .inner-bar div:nth-child(2){ */
.active{
    background: linear-gradient(180deg, black, #03e9f4);
}

.inner-bar div:hover{
    background: linear-gradient(180deg, black, #03e9f4);
    transition: 1s;
    cursor: pointer;
}

/* .inner-bar .line{
    border: 0 1px solid white;
    width: 0px;
} */

.pfp-container{
    margin: 20px 20px 10px;
    width: fit-content;
    /* border: 1px solid white; */
}
.pfp,
.pfp-pic{
    position: relative;
    width: fit-content;
}

.pfp-pic .pic{
    border-radius: 50%;
    height: 270px; 
    width: 270px;
    border: 10px solid black;
}

.pfp-border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
}

.pfp-border .border{
    height: 400px;
    width: 400px;
}

.cancel-event,
.edit-event,
.cancel-join,
.edit{
    position: relative;
    top: 100%;
    left: 100%;
    transform: translate(-125%, -150%);
    width: fit-content;
    background: white;
    border-radius: 50%;
    transition: .3s;
    /* border: 1px solid white; */
}

.edit img{
    height: 30px;
    width: 30px;
    padding: 5px;
}


.cancel-event img,
.cancel-join img{
    width: 25px;
    height: 25px;
}

.edit-event img{
    width: 20px;
    height: 20px;
    padding: 3px;
}
.cancel-event:hover,
.edit-event:hover,
.cancel-join:hover,
.edit:hover{ 
    background-color: #03e9f4;
    box-shadow: 0px 0px 20px white;
    cursor: pointer;
    transition: .3s;
}

.cancel-event,
.edit-event,
.cancel-join{
    position: absolute;
    top:0;
    right: 100;
    transform: translate(-100%, 0%);
}

.edit-event{
    top:30;
}

.name, .username{
    /* border: 1px solid white; */
    text-align: center;
    background-color: black;
}

.name{
    font-size: xx-large;
}
.username{
    font-size: larger;
}