/* Programmer: Ana Alimurung
*  Date: 16 February 2024
*  CSIT226 - IM
*  CSS for index.html
*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Play&family=Julius+Sans+One&display=swap');

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Jost', sans-serif;
}

/* css for header */
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 40px;
    font-size: 20px;
}

header .logo{
    align-items: left;
    display: flex;
    font-size: 50px;
    width: 50%;
}

header .logo img{
    width: 40%;
}

header .nav{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
}

.nav-item{
    width: 100px;
    margin: auto 0;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    color: #fff;
    background-color: #0096FF;
    transition: .5s;
}

.nav-item a:hover{
    color: white;
}

/* css for log in page */
.content-login h1{
    padding-top: 2%;
    padding-bottom: 2px;
    color: black;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.log-in h2{
    padding-top: 2px;
    color: black;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 38px;
    font-weight: 390;
    line-height: normal;
}

#log-in-form{
    justify-content: center;
    border: 1px solid rgba(77, 82, 95, 0.03);
    border-radius: 15px;
    background-color: #F0F8FF;
    width: 45%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.extra{
    text-align: center;
}

.btn-1{
    cursor: pointer;
    justify-content: center;
    width: 250px;
    height: 55px;
    background: #7CB9E8;
    color: black;
    box-shadow: -2px 8px darkblue;
    border: 1px solid #bed9be;
    border-radius: 35px;
} .btn-1:hover{
    transform: translate(-2px, 8px);
    box-shadow: 0 0;
    transition: 0.2s ease-in;
}

.input{
    margin-bottom: 10px;
}

.input label{
    /* display: block; */
    margin-bottom: 5px;
    text-align: left;
}

.input input{
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid gray;
}

/* css for about us page */
.about-us h1{
    padding-top: 2%;
    padding-bottom: 2px;
    color: black;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 48px;
    /* font-style: italic; */
    font-weight: 400;
    line-height: normal;
}

.staff{
    /* display: flex; */
    margin-top: 3%;
    justify-content: left;
    border: 1px solid rgba(77, 82, 95, 0.03);
    border-radius: 15px;
    background-color: #F0F8FF;
    width: 55%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: justify;
}

.staff img{
    width: 195px;
    border-radius: 50%;
    height: fit-content;
    float: left;
    margin: 15px 15px 0 0;
}

.staff h2{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: black;
    text-align: left;
}

.staff p{
    width: 680px;
}

/* css for footer */
.details{
    background: #0096FF;
    padding: 30px 0px;
    padding-bottom: 10px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.d-texts{
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: black;
    font-size: 0.8em;
}

.d-texts a{
    text-decoration: none;
    color: black;
    transition: 0.5s;

    font-size: 2em;
    margin: 0% 1%;
}

.d-texts a:hover{
    color: white;
}

.d-texts ul{
    width: auto;
    list-style: none;
}

.d-texts li{
    width: 100px;
    display: inline-block;
    margin-right: 30px;
    font-size: 8px;
}
